<div>
  <h2 *ngIf="playerName !== null">{{ playerName }}</h2>
  <h2 *ngIf="playerName === null && matId">Mat #{{ matId }}</h2>

  <div *ngIf="admin && unpairedCards.length > 0">
    <h3>Unpaired Cards</h3>
    <card-list [cards]="unpairedCards" [allowEdit]="admin" />
  </div>

  <div>
    <h3>Battlefield</h3>
    <card-list [cards]="battlefieldCards" [allowEdit]="admin" />
  </div>

  <div class="horizontal">
    <div class="padded">
      <h3>Library</h3>
      <card-pile [cards]="libraryCards" />
    </div>

    <div class="padded">
      <h3>Graveyard</h3>
      <card-pile [cards]="graveyardCards" />
    </div>

    <div class="padded">
      <h3>Exile</h3>
      <card-pile [cards]="exileCards" />
    </div>

    <div class="padded">
      <h3>Command</h3>
      <card-pile [cards]="commandCards" />
    </div>

    <div *ngIf="admin" class="padded">
      <h3>Not Present</h3>
      <card-pile [cards]="notPresentCards" />
    </div>
  </div>
</div>
