<div>
  <h2>Choose card to pair with RFID {{ rfid }}</h2>

  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Card Name" #title (keyup.enter)="searchByTitle(title.value.trim())">
      </mat-form-field>
      <!-- <button mat-raised-button class = "card_name" (click)="searchByTitle(title.value.trim())">Search</button> -->
    </form>   
  </div>

  

  <div>
    <table>
      <!-- <tr>
        <td *ngFor="let card of cards.slice(0, 12)">
          <span class = "card_name">{{ card["name"] }}</span>
        </td>
      </tr> -->
      <tr>
        <td *ngFor="let card of cards.slice(0, 12); let i = index">
          <card-result [card]="card" (pair)="pairAPIId($event)" />
        </td>
      </tr>
      <!-- <tr>
        <td *ngFor="let card of cards.slice(12, 24); let i = index">
          <span class = "card_name">{{ card["name"] }}</span>
        </td>
      </tr> -->
      <tr>
        <td *ngFor="let card of cards.slice(12, 24); let i = index">
          <card-result [card]="card" (pair)="pairAPIId($event)" />
        </td>
      </tr>
      <!-- <tr>
        <td *ngFor="let card of cards.slice(24, 36); let i = index">
          <h5 *ngIf="getCardImage(card)">{{ card["name"] }} </h5>
        </td>
      </tr> -->
      <tr>
        <td *ngFor="let card of cards.slice(24, 36); let i = index">
          <card-result [card]="card" (pair)="pairAPIId($event)" />
        </td>
      </tr>
    </table>

    <ng-template #break>
      <p><i>Nothing is meant to be here</i></p>
    </ng-template>
  </div>
<!-- 
  <h2>The raw JSON response</h2>

  <div>
    <pre>{{ results | json }}</pre>
  </div>
</div> -->
