<div>
  <h2>Choose card to pair with RFID {{ rfid }}</h2>

  <div>
    <input type="text" placeholder="Card Name" #title />
    <button (click)="searchByTitle(title.value.trim())">Search</button>
  </div>

  <div *ngFor="let card of cards">
    <h5>{{ card["name"] }} <button (click)="pairAPIId(card)">Pair</button></h5>
    <div *ngIf="getCardImage(card) !== null; else no_image">
      <img [src]="getCardImage(card)" />
    </div>

    <ng-template #no_image>
      <p><i>No image for this card</i></p>
    </ng-template>
  </div>

  <h2>The raw JSON response</h2>

  <div>
    <pre>{{ results | json }}</pre>
  </div>
</div>
