<div>
  <p>RFID: {{ card.rfid }}</p>
  <p>
    API ID:
    <span *ngIf="card.api_id; else pairButton">
      {{ card.api_id }}
    </span>
    <ng-template #pairButton>
      <button [routerLink]="['/admin', 'pair', card.rfid]">Pair</button>
    </ng-template>
  </p>
  <p>Mat ID: {{ card.mat_id }}</p>

  <p>Zone: {{ card.zone }} <span *ngIf="card.zone === null">null</span></p>
  <p>Face up? {{ card.is_face_up }}</p>
  <p>
    Front image: {{ card.front_image }}
    <span *ngIf="card.front_image === null">null</span>
  </p>
  <p>
    Back image: {{ card.back_image }}
    <span *ngIf="card.back_image === null">null</span>
  </p>

  <img *ngIf="card.front_image" [src]="card.front_image" /><img *ngIf="card.back_image" [src]="card.back_image"/>
</div>
